<!DOCTYPE html>
<html lang=no>
    <head>
        <title>Cybertalent.no - highscore</title>
        <meta charset="utf-8"/>
        <!-- meta name="viewport" content="width=device-width, initial-scale=1.0" -->
        <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="./static/favicon.png">
        <link rel="stylesheet" type="text/css" href="./static/style.css" />
    </head>
    <body>
    <div class="container" style="min-width: 22em">
        <a href="."><img class="bug" src="./static/bug.gif" alt="Fancy bug banner"/></a>
        <h1>POENGTAVLE</h1>
        <ol type="1" class="liste">
          {USERS}
        </ol>
    </div>
    </body>
</html>
